* {
    height: 100%;
}
body {
    width: 100vw;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ee9ca7, #ffdde1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e9a7b0, #f7eeef); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.geral {
    width: auto;
    margin: 0 auto;
}

img {
    margin: 0 auto;
    display: flex;
    width: 250px;
    height: 245px;
    flex-direction: column;
    border-radius: 100%;
    border: rgb(0, 0, 0) solid 2px;
}

p {
    font-family: 'Press Start 2P';
    text-align: center;
    font-weight: 400px;
    line-height: 60px;
    font-size: 24px;
    color: #F25A70;
    text-shadow: black 3px 3px 3px;
}
/*
ul {
    list-style: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

li {
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    margin: 5px;
    
}
*/
a {
    font-family: "Fira Code", monospace;
    background-color: #F25A70;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border-radius: 16px;
    height: 58px;
    text-decoration: none;
    box-shadow: 1px 3px 2px 0px black;
}
