body {
    width: auto;
    background: #ee9ca7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ee9ca7, #ffdde1);
    background: linear-gradient(to bottom, #e6bac0, #f5f1f2);
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
.container  {
    width: 300px;
    margin: 0 auto;
    background-size: contain;
  }
  
.profile    {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    padding-top: 30px;
}
  
#img    {
    margin: 0 auto;
    width: 260px;
    height: 260px;
    border: 2px solid #030303;
    border-radius: 100%;
    
}
  
p {
    font-family: 'Press Start 2P';
    font-weight: 400;
    color: #F25A70;
    font-size: 20px;
    text-align: center;
    text-shadow: black 3px 3px 3px;
    line-height: 40px;
    margin: 8px;
}

ul {
    list-style: none;
    padding: auto;
    width: 190px;
    margin: auto;
    margin-top: 80px;
  }
  
li {
    font-family: "Fira Code", monospace;
    background-color: #F25A70;
    padding: 10px;
    border-radius: 10px;
    height: 20px;
    text-align: center;
    vertical-align: auto;
    line-height: 20px;
    margin: 20px;
    box-shadow: 3px 3px 3px 0px black;
}

a   {
    text-decoration: none;
    font-family: "Fira Code", monospace;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

#op1:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#op2:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#op3:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#op4:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#op5:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#op6:hover {
    background-color:#222020;
    transition: 0.8s;
    opacity: 0.7;
}

#ic {
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
    display: block;
    padding-top: 200px;
}
